<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">

<html>
<head>
</head>
<body>

        <h1>This is a Java blog!</h1>


{{#titles}}
    <a href="{{title}}">{{title}}</a><br>
{{/titles}}

</body>
</html>

