<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">

<html>
<head>
</head>
<body>

<header>
        <h1>Caffeine!</h1>
    </header>


<header>
    <h1>Blog Posts</h1>
</header>

<section>
<ul>
{{#titles}}
      <li> <a href="{{url}}"> {{title}} Published: {{date}} </a></li>
{{/titles}}
</ul>
</section>

<hr>
<section>
With Love from Vicki
</section>

</body>


</html>

