<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">

<html>
<head>
</head>
<body>

<header>
        <h1>Caffeine!</h1>
    </header>


<header>
    <h1>Blog Posts</h1>
</header>

<section>
{{#titles}}
        <ul><a href="{{title}}">{{title}}</a>
    </ul>
{{/titles}}
    </section>

<hr>
With Love from Vicki

</body>


</html>

